<div class="content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card">
                <p-progressBar *ngIf="loadingPage" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                <p-blockUI [blocked]="loadingPage" [style]="{'z-index': '2'}"></p-blockUI>



                <div class="row">
                    <div class="col-12">
                        <div class=" card">
                            <p-menubar>
                                <div *ngIf="usuario.role == 'AKDADM' ">
                                    <button *ngIf="floatFE.controls['estado'].value == 'Creado' " type="button" pButton
                                    label="Enviar a aprobar" icon="pi pi-send" style="margin-left:.25em"
                                    (click)="SendToApprove()"></button>
                                <button *ngIf="floatFE.controls['estado'].value == 'En aprobación' " type="button"
                                    pButton label="Aprobar" icon="pi pi-check-circle" style="margin-left:.25em"
                                    (click)="flowAceptar()"></button>
                                <button *ngIf="floatFE.controls['estado'].value == 'En aprobación'"
                                    class="p-button-danger" type="button" pButton label="Rechazar"
                                    icon="pi pi-times-circle" style="margin-left:.25em"
                                    (click)="flowRechazar()"></button>
                                </div>
                                <div *ngIf="usuario.role != 'AKDADM' ">
                                    <button *ngIf="floatFE.controls['estado'].value == 'Creado' && usuario.role =='AKDAFE' " type="button" pButton
                                    label="Enviar a aprobar" icon="pi pi-send" style="margin-left:.25em"
                                    (click)="SendToApprove()"></button>
                                <button *ngIf="floatFE.controls['estado'].value == 'En aprobación' && usuario.role == 'AKDAAFE' " type="button"
                                    pButton label="Aprobar" icon="pi pi-check-circle" style="margin-left:.25em"
                                    (click)="flowAceptar()"></button>
                                <button *ngIf="floatFE.controls['estado'].value == 'En aprobación' && usuario.role =='AKDAAFE'"
                                    class="p-button-danger" type="button" pButton label="Rechazar"
                                    icon="pi pi-times-circle" style="margin-left:.25em"
                                    (click)="flowRechazar()"></button>
                                </div>

                            </p-menubar>
                        </div>
                    </div>
                    <div class="col-12">
                        <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>
                    </div>
                </div>



                <div class=" card-header">
                    <!-- Inicio codigo ver float en ejecución-->

                    <div class=" card-body" *ngIf="floatFE.controls['Option'].value['Code'] == '01'">
                        <form class="p-grid" [formGroup]="floatFE" accept-charset="utf-8">

                            <div class=" card" *ngIf="DatosFloatE.length !=  0">
                                <div class="card-header">
                                    <div class="download">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h5>Float en ejecución de:
                                                    {{floatFE.controls['PERIODO'].value['periodo']}}</h5>
                                            </div>

                                            <!-- botones del flujo-->

                                            <div class="col-md-8">


                                            </div>
                                            <!-- fin botones del flujo-->
                                            <div class="col-md-12">
                                                <div class=" row" style="text-align: right;">
                                                    <div>
                                                        <button pButton pRipple type="button" (click)="downloadFE()"
                                                            class="p-button-rounded p-button-text ">
                                                            <img src="/akdrilling/assets/img/dnd/ic-file-excel.svg"
                                                                width="45px" alt="file">

                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class=" col-sm-12">
                                            <p-table #fe [columns]="camposFe" [paginator]="true" [value]="datasourceFE"
                                                [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
                                                [loading]="loading"
                                                currentPageReportTemplate="Mostrar {first} hasta  {last} de {totalRecords} datos"
                                                [filterDelay]="0" [resizableColumns]="true" [responsive]="true"
                                                [autoLayout]="true" [globalFilterFields]="camposFe.field"
                                                styleClass="tabla" *ngIf="DatosFloatE.length >  0" [scrollable]="true"
                                                [reorderableColumns]="true" scrollHeight="500px" [autoLayout]="true"
                                                [multiSortMeta]="multiSortMetaFE"
                                                [tableStyle]="{ width: 'max-content'}">

                                                <ng-template pTemplate="caption">
                                                    <div class="p-d-flex">

                                                        <button pButton label="Limpiar" class="p-button-outlined"
                                                            icon="pi pi-filter-slash" (click)="clear(fe)"></button>
                                                        <span class="p-input-icon-left p-ml-auto">
                                                            <i class="pi pi-search"></i>
                                                            <input pInputText type="text"
                                                                (input)="applyFilterGlobalBD($event, 'contains')"
                                                                placeholder="Filtrar" />
                                                        </span>

                                                    </div>
                                                </ng-template>
                                                <ng-template pTemplate="header" let-columns>
                                                    <tr>
                                                        <th *ngFor="let col of columns" pReorderableColumn>
                                                            <p-columnFilter type="text" [field]="col.field">

                                                            </p-columnFilter>
                                                        </th>
                                                    </tr>

                                                    <tr>
                                                        <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                                                            {{col.field}}
                                                            <p-sortIcon field="{{col.field}}">
                                                            </p-sortIcon>
                                                        </th>

                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                                    <tr [pSelectableRow]="rowData"
                                                        (dblclick)="onRowDblClick($event, rowData)">
                                                        <td *ngFor="let col of columns">{{rowData[col.field]}}</td>
                                                    </tr>

                                                </ng-template>
                                                <ng-template pTemplate="emptymessage" let-columns>
                                                    <tr>
                                                        <td [attr.colspan]="columns.length">
                                                            No records found
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <p-card class=" card-body"
                                *ngIf="DatosFloatE.length !=  0 && floatFE.controls['estado'].value == 'Creado'">
                                <ng-template pTemplate="header">
                                    Actualización de float en ejecución
                                </ng-template>
                                <div class=" row PanelInformacion">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-md-2 ">
                                                <div class="container" *ngIf="DatosFloatE.length !=  0" appDnd
                                                    (fileDropped)="onFileDropped($event)">
                                                    <input type="file" #fileDropRef id="fileDropRef" multiple
                                                        (change)="fileBrowseHandler($event)" />
                                                    <img src="/akdrilling/assets/img/dnd/ic-upload-file.svg" alt="">
                                                    <h3>Arrastra y suelta el archivo aquí</h3>
                                                    <h3>o</h3>
                                                    <label for="fileDropRef">Selecciona el archivo</label>
                                                </div>
                                                <div class="files-list" *ngIf="DatosFloatE.length !=  0">
                                                    <div class="single-file" *ngFor="let file of files; let i = index">
                                                        <img src="/akdrilling/assets/img/dnd/ic-file-excel.svg"
                                                            width="45px" alt="file">
                                                        <div class="info">
                                                            <h4 class="name">
                                                                {{ file?.name }}
                                                            </h4>
                                                            <p class="size">
                                                                {{ formatBytes(file?.size) }}
                                                            </p>
                                                            <app-progress [progress]="file?.progress"></app-progress>
                                                        </div>
                                                        <img src="/akdrilling/assets/img/dnd/ic-delete-file.svg"
                                                            class="delete" width="20px" alt="file"
                                                            (click)="deleteFile(i)">
                                                    </div>
                                                </div>
                                                <button pButton pRipple type="button" label="Cargar"
                                                    class="p-button-outlined" (click)="Procesar()"></button>
                                            </div>
                                            <div class="col-md-8" style="text-align: right;">

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </p-card>


                        </form>
                    </div>
                    <!-- Fin codigo ver Budget-->

                    <p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="'bottom'"
                        [baseZIndex]="10000"></p-confirmDialog>
                    <p-messages [value]="msgs"></p-messages>

                    <p-dialog header="Detalle Budget {{datosDetailFloatE?.idbgdt5}} " [(visible)]="displeyFloatDetail"
                        [style]="{width: '70vw', height: '50vw'}" [baseZIndex]="10000">

                        <div class="card-body">
                            <div class=" col-sm-12">

                                <p-table #fed [columns]="camposFeD" [value]="datasourceFED" [rowHover]="true"
                                    [rows]="10" [showCurrentPageReport]="true" [loading]="loadingDetail"
                                    currentPageReportTemplate="Mostrar {first} hasta  {last} de {totalRecords} datos"
                                    [filterDelay]="0" [resizableColumns]="true" [responsive]="true" [autoLayout]="true"
                                    [globalFilterFields]="camposFeD?.field" styleClass="tabla" [scrollable]="true"
                                    [reorderableColumns]="true" scrollHeight="500px" [autoLayout]="true"
                                    [multiSortMeta]="multiSortMetaFED" [tableStyle]="{ width: 'max-content'}">
                                    <ng-template pTemplate="caption">
                                        <div class="p-d-flex">
                                            <button pButton label="Limpiar" class="p-button-outlined"
                                                icon="pi pi-filter-slash" (click)="clear(fed)"></button>
                                            <span class="p-input-icon-left p-ml-auto">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text"
                                                    (input)="applyFilterGlobalBD($event, 'contains')"
                                                    placeholder="Filtrar" />
                                            </span>

                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th *ngFor="let col of columns" pReorderableColumn>
                                                <p-columnFilter type="text" [field]="col?.field">

                                                </p-columnFilter>
                                            </th>
                                        </tr>

                                        <tr>
                                            <th *ngFor="let col of columns" pSortableColumn="{{col?.field}}">
                                                {{col?.field}}
                                                <p-sortIcon field="{{col?.field}}">
                                                </p-sortIcon>
                                            </th>

                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr>
                                            <td *ngFor="let col of columns">{{rowData[col?.field]}}</td>
                                        </tr>

                                    </ng-template>
                                    <ng-template pTemplate="emptymessage" let-columns>
                                        <tr>
                                            <td [attr.colspan]="columns?.length">
                                                No hay datos para mostrar
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>


                        <ng-template pTemplate="footer">
                        </ng-template>
                    </p-dialog>


                </div>
            </div>
        </div>
    </div>