<div class="content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card">
                <p-progressBar *ngIf="loadingPage" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                <p-blockUI [blocked]="loadingPage" [style]="{'z-index': '2'}"></p-blockUI>
                <div class=" card-header">
                    <div *ngIf="revenue.controls['Option'].value.length == 0">
                        <form class="p-grid" [formGroup]="revenue" accept-charset="utf-8">
                            <div class=" row" *ngIf="CargaRevenue">
                                <div class=" col-md-12">
                                    <div class="form-group">
                                        <div class=" card-body">
                                            <p-button label="Cargar ingreso" icon="pi pi-money-bill" iconPos="right"
                                                (click)="startRevenue()"></p-button>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </form>
                        <div class=" row">
                            <div class=" col-md-12">
                                <div class="card-body">
                                    <p-table #revs 
                                        [columns]="RevenueCampos" 
                                        [paginator]="true" 
                                        [value]="datasourceRevenues"
                                        [rowHover]="true" 
                                        [rows]="10" 
                                        [showCurrentPageReport]="true" 
                                        [loading]="loading"
                                        [paginator]="true"
                                        currentPageReportTemplate="Mostrar {first} hasta  {last} de {totalRecords} datos"
                                        [filterDelay]="0" 
                                        [responsive]="true"
                                        [autoLayout]="true" 
                                        [globalFilterFields]="RevenueCampos.field" 
                                        styleClass="tabla"
                                        sortMode="multiple" 
                                        [multiSortMeta]="multiSortRevS"
                                        [tableStyle]="{ width: 'max-content'}">
                                        <ng-template pTemplate="caption">
                                            <div class="p-d-flex">
                                                <button pButton label="Limpiar" class="p-button-outlined"
                                                    icon="pi pi-filter-slash" (click)="clear(revs)"></button>
                                                <span class="p-input-icon-left p-ml-auto">
                                                    <i class="pi pi-search"></i>
                                                    <input pInputText type="text"
                                                        (input)="applyFilterGlobalRevS($event, 'contains')"
                                                        placeholder="Filtrar" />
                                                </span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns">
                                                    <p-columnFilter type="text" [field]="col.field"
                                                        *ngIf="col.field != '' ">
                                                    </p-columnFilter>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                                                    {{col.field}}
                                                    <p-sortIcon field="{{col.field}}" *ngIf="col.field != '' ">
                                                    </p-sortIcon>
                                                </th>

                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr [pSelectableRow]="rowData" (dblclick)="onRowDblClick($event, rowData)">
                                                <td *ngFor="let col of columns">{{rowData[col.field]}}</td>

                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage" let-columns>
                                            <tr>
                                                <td [attr.colspan]="columns.length">
                                                    No hay Ingresos creados
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>

                    </div>



                    <!-- inicio codigo crear revenue-->
                    <div class=" card-body" *ngIf="revenue.controls['Option'].value['Code'] == '02'">
                        <form class="p-grid" [formGroup]="revenue" accept-charset="utf-8">
                            <div class=" row">

                                <div class=" col-md-4">
                                    <div class="form-group">
                                        <div class=" card-body" *ngIf="DatosRevenue.length ==  0">
                                            <p-dropdown [options]="periodos" formControlName="PERIODO"
                                                placeholder="Seleccione un periodo" optionLabel="periodo"
                                                [showClear]="true" (onChange)="setIdBdg($event)">
                                            </p-dropdown>
                                        </div>



                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="container" *ngIf="DatosRevenue.length ==  0" appDnd
                                        (fileDropped)="onFileDropped($event)">
                                        <input type="file" #fileDropRef id="fileDropRef" multiple
                                            (change)="fileBrowseHandler($event)" />
                                        <img src="/akdrilling/assets/img/dnd/ic-upload-file.svg" alt="">
                                        <h3>Arrastra y suelta el archivo aquí</h3>
                                        <h3>o</h3>
                                        <label for="fileDropRef">Selecciona el archivo</label>
                                    </div>
                                    <div class="files-list" *ngIf="DatosRevenue.length ==  0">
                                        <div class="single-file" *ngFor="let file of files; let i = index">
                                            <img src="/akdrilling/assets/img/dnd/ic-file-excel.svg" width="45px"
                                                alt="file">
                                            <div class="info">
                                                <h4 class="name">
                                                    {{ file?.name }}
                                                </h4>
                                                <p class="size">
                                                    {{ formatBytes(file?.size) }}
                                                </p>
                                                <app-progress [progress]="file?.progress"></app-progress>
                                            </div>
                                            <img src="/akdrilling/assets/img/dnd/ic-delete-file.svg" class="delete"
                                                width="20px" alt="file" (click)="deleteFile(i)">
                                        </div>
                                    </div>
                                    <div class=" col-md-12" *ngIf="DatosRevenue.length ==  0">
                                        <div class=" form-group">
                                            <button pButton type="submit" label="Crear revenue "
                                                (click)="cargaRevenue()"></button>
                                        </div>
                                    </div>
                                </div>


                            </div>



                        </form>
                    </div>
                    <!-- Fin codigo crear ingreso-->
                    <p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="'bottom'"
                        [baseZIndex]="10000"></p-confirmDialog>
                    <p-messages [value]="msgs"></p-messages>

                </div>
            </div>
        </div>
    </div>