<div class="content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card">
                <p-progressBar *ngIf="loadingPage" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                <p-blockUI [blocked]="loadingPage" [style]="{'z-index': '2'}"></p-blockUI>

                <div class=" card-header">
                    <form class="p-grid" [formGroup]="reportFE" accept-charset="utf-8">


                        <div class="row">
                            <div class="col-md-12">
                                <div style="height: 100px;">
                                    <div class="row">
                                        <div class="col-sm">
                                            <p-dropdown [options]="periodos" formControlName="PERIODO"
                                                placeholder="Seleccione un periodo" optionLabel="periodo"
                                                [showClear]="true">
                                            </p-dropdown>
                                        </div>
                                        <div class="col-sm" style="height: 50px;">

                                            <p-multiSelect [options]="proyectos" formControlName="PROYECTOS"
                                                class="multiSelect" optionLabel="nameProyect"
                                                placeholder="Seleccione un proyecto"
                                                selectedItemsLabel="Proyectos Seleccionados: {0}">
                                                <ng-template let-proyect pTemplate="item">
                                                    <div class="flex align-items-center gap-2">
                                                        <div>{{proyect.codeProyect}}={{proyect.nameProyect}}</div>
                                                    </div>
                                                </ng-template>
                                            </p-multiSelect>


                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class=" card-body">
                                <div class="col-md-12">
                                    <button pButton pRipple type="button" (click)="DownloadFE()"
                                        class="p-button-rounded p-button-text ">
                                        <img src="/akdrilling/assets/img/dnd/ic-file-excel.svg" width="45px"
                                            style="text-align: center;" alt="file">
                                    </button>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>


            </div>
        </div>
    </div>
</div>