:host {
  ::ng-deep .p-slidemenu {
      background-color: transparent!important;
      border-color: transparent!important;
      color:white;
  }
  ::ng-deep .p-slidemenu .p-menuitem-link .p-menuitem-text{
    background-color: transparent!important;
    border-color: transparent!important;
    color:white;
}
::ng-deep .p-slidemenu .p-menuitem-link .p-menuitem-icon{
  color:white;
}

::ng-deep .p-slidemenu .p-slidemenu-backward {
  color: #f4f4f5;
}

} 
